*{
	margin: 0;
	
}
#main{
	.nav{
		width: 100%;
		height: 50px;
		background-color: white;
		border-bottom: 1px solid #FF6666;
		
			span{
				i{
					color: #FFCC33;
				}
				margin-left: 99px;
				padding-top: 20px;
				position: absolute;
				color: #FF9999;
						:hover {
        	color:red;
    		}
			
		}
			h4{ 
				i{
					color: #FFCC33;
				}
				:hover {
        	color: red;
    		} 
				padding-top: 18px;
				display: inline-block;
				margin-left: 270px;
				color: #FF9999;

		}
		.fa-facebook{
			position: absolute;
			margin-left: 7px;	
			margin-top: 4px;	
			color: white;
		}
		.fa-twitter{
			position: absolute;
			margin-left: 5px;	
			margin-top: 4px;
			color: white;
		}
		.fa-google-plus{
			position: absolute;
			margin-left: 2px;	
			margin-top: 4px;
				color: white;
		}
		.icon{
			:hover {
        	color:#cca876;
    		} 	
			margin-top: 9px;
			position: absolute;
			width: 24px;
			height: 24px;
			background-color:#b4b4b4;
			display: inline-block;
			border-radius: 13px;
			margin-left: 750px;

		}
		.fa-search{
			:hover {
        	color:#cca876;
    		} 
			position: absolute;
			margin-top: 9px;
			font-size: 22px;
			margin-left: 849px;

		}
	}
}
#center {
	.hisse1 {
		width: 100%;
		height: 110px;
		background-color: white;
		img{
			margin-left: 99px;
			margin-top: 40px;
		}
		ul{
			position: absolute;
			bottom: 545px;
		
		li{
			list-style: none;
			float: left;
			width: 98px;
			font-size: 18px;
			margin-top: 20px;
			}
			
		}
		
		button{
			
			width: 160px;
			height: 41px;
			position: absolute;
			background-color: inherit;
			margin-left: 872px;
			margin-top: 32px;
			border-style:none;
			border: 2px solid green;

				h4{
					padding:10px;	
					padding-left:10px;
					display: inline-block;
					
					font-size: 15px;
				
				}&:hover {color: white;
						background-color:#cca876;			}
        



        	}

				
		}
		}


#image{
		.img{
			img{
				position:absolute;
				width: 1349px;
				height: 525px;
				}
				span{
					position:absolute;
					margin-bottom: 90px;
					color:#cca876;
					font-size: 40px;	
					margin-left: 610px;
					margin-top: 120px;
					}
					h2{
						position:absolute;
						color: white;
						font-size: 55px;
						margin-left: 300px;
						margin-top: 170px;
						}
						h3{
							position:absolute;
							color: white;
							font-size: 24px;
							margin-left: 329px;
							margin-top: 250px;
							}
							button{
									width: 260px;
									height: 41px;
									position: absolute;
									background-color: inherit;
									margin-left: 872px;
									margin-top: 32px;
									border-style:none;
									border: 2px solid #cca876;
									color: white;
									font-size: 17px;
									margin-left: 529px;
									margin-top: 290px;
									&:hover {background-color:#cca876;}
									}
									


			
		}
		
	
		

		}

#top-center{

			.business{
				width: 400px;
				height: 250px;
				float: left;


				img{
					margin-top: 700px;
					margin-left: 250px;
				}
				h6{
					font-size: 27px;	
					margin-left: 209px;
					margin-bottom: 20px;
					&:hover {color:#cca876;}
				}
				h5{
					font-size: 16px;
					margin-left: 140px;
					color: #a2a2a2;
					text-align: center;
				}
			}



}
#dubai {padding-top:1100px;
	.about{  
			float: left;
			background-image: url(img/Dubai.jpg);
			width: 1349px;
			height: 437px;
	

	.foto{
			width: 1020px;
			height: 540px;
			background-color:#2B2F40;
			bottom: 87px;
			margin-left: 170px;
			position: relative;
		
		img{
		
			margin-top: 90px;
			margin-right: 50px;
			float: right;
		
		}
		.border{ 
			margin-left: 50px;	
			margin-top: 29px;
			width: 550px;
			

		h1{
			color: white;
			font-size: 55px;
			padding-top:150px;
			padding-left:100px;
						display: inline-block;


		}
		p{
			color: white;
			margin-left:100px;
			padding-top:50px;
			line-height: 25px;
			font-size: 14px;
						display: inline-block;

		}
		h5{
			color: white;
			margin-left:100px;
			font-size: 17px;
			padding-top:50px;
			float: left;
						display: inline-block;

		}
		h4{
			color:#53586F;
			margin-left:230px;
			font-size: 14px;
			padding-top:54px;
			font-style: italic;
			font-weight: normal;
		

		}
			}

		button{
			width: 310px;
			height: 48px;
			position: absolute;
			background-color: inherit;
			margin-left: 100px;
			margin-top: 32px;
			border-style:none;
			border: 2px solid #cca876;
			color: white;
			font-size: 17px;
			&:hover {background-color:#cca876;}
			float: left;
					


		}
		


			

		}
	}
}

#experts{
		.amanda{
				background-image:url(img/team9.jpg);
				width: 246px;
				height: 299px;
				margin-left: 125px;
				margin-top: 585px;
				position: absolute;
			.a{
				background-color: #CCA876;
				width: 213px;
				height: 90px;
				margin-top: 240px;
				margin-left: 15px;
				h5{

					color: white;
					font-size: 20px;
					padding-top: 20px;
					text-align: center;
					
					 


				}
				.divider{
					border-bottom:1px solid black;
					width: 109px;
					margin-left: 54px;
					margin-top: 9px;
					margin-bottom: 10px;
				}
				i{
					color: white;
					
					margin-left: 56px;
				}
			}



			}
		 
		 .john{
				background-image:url(img/team10.jpg);
				width: 246px;
				height: 299px;
				margin-left: 125px;
				margin-top: 585px;
				position: absolute;
			.a{
				background-color: #CCA876;
				width: 213px;
				height: 90px;
				margin-top: 240px;
				margin-left: 15px;
				h5{

					color: white;
					font-size: 20px;
					padding-top: 20px;
					text-align: center;
					
					 


				}
				.divider{
					border-bottom:1px solid black;
					width: 109px;
					margin-left: 54px;
					margin-top: 9px;
					margin-bottom: 10px;
				}
				i{
					color: white;
					
					margin-left: 56px;
				}
			}



			}

			 .Vanessa{
				background-image:url(img/team11.jpg);
				width: 246px;
				height: 299px;
				margin-left: 125px;
				margin-top: 585px;
				position: absolute;
			.a{
				background-color: #CCA876;
				width: 213px;
				height: 90px;
				margin-top: 240px;
				margin-left: 15px;
				h5{

					color: white;
					font-size: 20px;
					padding-top: 20px;
					text-align: center;
					
					 


				}
				.divider{
					border-bottom:1px solid black;
					width: 109px;
					margin-left: 54px;
					margin-top: 9px;
					margin-bottom: 10px;
				}
				i{
					color: white;
					
					margin-left: 56px;
				}
			}



			}

	
}
#exe{
	.exit{
			 font-size: 400px;
    		 color:red;
    		 font-size: 270px; 
    		 color: #F2F3F8;  
    		 position: absolute;
    		 z-index: 1;
    		 font-weight: normal;
    		 		 
	}
	h5{
		font-size:60px; 
		padding-left: 50px; 
		margin-top: 150px;
		position: absolute;
		z-index: 2;
		font-weight: normal;
		
			
	}
	i{
		margin-top: 240px;
		position: absolute;
		padding-left: 77px; 
		font-size: 20px;
	}
	h4{
		margin-top: 270px;
		color: #a2a2a2;
	}
	a{
		margin-top: 20px;
		padding-left: 77px;
		text-decoration: none;
		color: black;
		font-size: 25px;
		font-weight: bold;
		position:absolute;
		&:hover {color:#cca876;}
        
	
	

	}
		span{
			margin-top: 27px;
			margin-left: 202px;
			position:absolute;
			font-size: 18px;
			&:hover {color:#cca876;}
			
		}

}

#section60{
	.faq{
		margin-top: 99px;
		margin-left: 650px;	
		font-size: 50px;
		font-weight: bold;

	}
	.section62{
		img{


		margin-left: 50px;
		float: left;
		}
		.hr{
			.hr2{
				margin-bottom: 20px;
			}
			span{
				font-size: 20px;
				font-weight: bold;
				margin-left: 50px;
				
				i{
					margin-left: 109px;
				color:#cca876;
				display: inline-block;
				}
		}
		.hr4{
			margin-top:  20px;
			margin-bottom: 20px;
		}
		h5{
			font-size: 14px;
    		line-height: 1.71429;
    		color: #9f9f9f;
    		margin-left: 680px;

		}
		
	}	

}



}
#copy{
	img{
		background-color:#F2F3F8;
		width: 1349px;

	}
}
#h4{
	h4{
		font-size: 55px;
		font-weight: bold;
		margin-top: 70px;
		margin-left: 460px;
		margin-bottom: 50px;
	

	}
}
#testimonials{
	.left{

		float: left;

	
	i{
		font-size: 42px;
		 color:#cfaa45;
		 margin-left: 200px;



	}
	h2 {
		font-size: 14px;
		font-family: "Lato", Helvetica, Arial, sans-serif;
		line-height: 1.71429;
		margin-left: 200px;
		margin-top: 20px;
		margin-bottom: 20px;

	}
	p{
			color: #9f9f9f;
			margin-left: 200px;
	}		
	img{
		margin-left: 240px;
		margin-top: 29px;
		border-radius: 29px;


	}
	strong{
		margin-top: 40px;
		margin-left: 9px;
		position:absolute;

	}
	span{
		
		margin-left: 9px;	
		color: #cca876;
		margin-top: 70px;
			position:absolute;
			display: inline-block;

	}


}

	}	

#consultation{
	width: 100%;
	height: 700px;
	background-color:#F2F3F8;
	margin-top: 470px;

span{
		font-size: 44px;
		font-weight: bold;	
		margin-left: 90px;
		padding-top: 90px;
		position:absolute;


}

.a0{
	margin-left:90px;
	margin-top:160px;
	width:320px;
	height:50px;
	border:inherit;
	padding-left:20px;
}
.a2{
	margin-left:90px;
	margin-top:40px;
	width:320px;
	height:50px;
	border:inherit;
	padding-left:20px;
}
.a6{
	width:340px;
	height:50px;
	margin-left:90px;
	padding-left:20px;
	border:inherit;
	color:#b1a9b1;
}
.aa{
	width:750px;
	height:200px;
	margin-left:90px;
	padding-right:29px;
	margin-top:40px;
	border:inherit;
	color:#b1a9b1;
	font-size: 16px;
}
img{
float: right;
display:inline-block;
bottom:54px;
position:relative;

}
.btn{
	
	width:300px;
	height:50px;	
	background-color:#cca876;
	border-color:#cca876;
	border-style:none;
	margin-left:90px;
	margin-top:50px;
	&:hover {color:#c6a371;}

	
}
h6{
	color: white;
	font-size: 18px;

}


}
#news{
	h4{
		font-size: 45px;
		margin-left: 545px;
		padding-top: 99px;
		font-weight: bold;
		line-height: 0.88889;
		margin-bottom: 50px;

	}
	.none{
		float: left;

	img{
		margin-left: 50px;
	}
	h5{
		font-weight: bold;
		line-height: 0.88889;
		font-size: 20px;
		margin-left: 50px;
		line-height: 1.2;
		margin-bottom: 11px;
	}
	span{
		font-size: 12px;
		margin-left: 50px;
		float: left;
	}
	h6{
		font-size: 12px;
		margin-left: 50px;
		font-weight: normal;
		&:hover {color:#cca876;}
	}

}

}
#footer{
	width:100%;
	height:465px;
	background-color:#2B2F40;
	margin-top:360px;
	.abc{

	float:left;

	img{
		margin-left: 90px;
		margin-top: 70px;
	}
	p{
		margin-left: 90px;
		margin-top: 20px;
		color:#51576D;
		line-height: 1.8;
		margin-bottom: 16px;
	}
	span{
		color: white;
		margin-left: 90px;
	
		font-size: 19px;

	}
	i{
		color:green;
		margin-left:16px;
		font-size: 20px;

	}
	
	

}

.abcd{
	float: left;
		h2{
		color: white;
		font-size: 16px;
		padding-left: 50px;
		padding-top: 70px;


	}
	img{
		margin-top: 50px;
		padding-left: 50px;
		float: left;
		

	}
	.no{
		p{
			color: white;
			margin-top: 46px;
			margin-left: 150px;
			margin-bottom: 20px;
			&:hover {color:#cca876;}

		}
		span{
			color:#51576D;
			font-size: 14px;
			margin-left: 26px;
		}
	}

	
	}
	.abcde{
		float: left;
		h2{
		color: white;
		font-size: 16px;
		padding-left: 50px;
		padding-top: 70px;
	}
	div{
		
		width: 99px;
		height: 150px;
		margin-left:50px;
		margin-top: 47px;
		float: left;
		i{
			color: green;
			margin-bottom: 27px;
		}
		span{
			color: white;
		}
	}

	}
	.abcdef{
		h2{
			color: white;
		font-size: 16px;
		margin-left: 999px;
		padding-top: 70px;
		}
		.noone3{
			
		
		margin-left:900px;
		margin-top: 27px;
		
		i{
			font-size: 20px;
			margin-top:20px;
			color: #666C84;

		}
		span{
			margin-left: 20px;
			&:hover {color:#cca876;}
		}

		}


	}
	.son{
		h2{
				color: white;
		font-size: 16px;
		float: right;
		display: inline-block;
		position:absolute;
		margin-top: 90px;
		margin-right: 600px;
		}
	}
}